!!!
html(ng-app="TD Payoffs")
	head
		meta(charset='utf8')
		base(href='/')
		title Angular Express Seed App
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap/css/bootstrap-theme.css')
	body
		.navbar.navbar-default.navbar-fixed-top
			.container
				ul.nav.nav-tabs
					li
						a(href='/') User
					li
						a(href='/addPost') Goals
					li
						a(href='/addPost') Improve
					li
						a(href='/addPost') Results